In [3]:
import pandas as pd
import plotly.express as px

gdp=pd.read_csv('https://ourworldindata.org/grapher/gdp-per-capita-worldbank.csv?v=1&csvType=full&useColumnShortNames=true')
gdp.head()

        Entity Code  Year  ny_gdp_pcap_pp_kd
0  Afghanistan  AFG  2000          1617.8264
1  Afghanistan  AFG  2001          1454.1108
2  Afghanistan  AFG  2002          1774.3087
3  Afghanistan  AFG  2003          1815.9282
4  Afghanistan  AFG  2004          1776.9182